<h1><%= @job_type.name %></h1>
<% @job_type.jobs.each do |job| %>
  <p><%= job.title %></p>
  <p><%= job.location %></p>
  <p><%= job.category.name %></p>
  <p><%= job.job_type.name %></p>
  <p><%= job.description %></p>
<% end %>
