<div id="errors">
<% if @job.errors.any? %>
<ul>
  <% @job.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
</div>
<%= simple_form_for @job do |f| %>
  <%= f.input :title %>

  <%= f.input :location %>

  <%= f.input :company_id, collection: @companies %>
  <%= f.input :category_id, collection: @categories %>
  <%= f.input :job_type_id, collection: @job_types %>

  <%= f.input :featured  %>

  <%= f.input :description, as: :text %>

  <%= f.button :submit %>
<% end %>
