<section id="jobs">
  <h2><%= t '.jobs' %></h2>
  <% @jobs.each do |job| %>
    <% if job.expired? == false %>
      <div class="jobs">
        <h3><%= job.title %></h1>
        <p><%= job.location %></p>
        <p><%= job.company.name %></p>
        <p><%= job.job_type.name %></p>
        <% if job.company.premium? %>
          <p><em><%= t '.premium' %></em></p>
        <% end %>
        <p><%= job.category.name %></p>
        <% if job.recent? %>
          <p><em><%= t '.recent' %></em></p>
        <% end %>
        <%= link_to (t '.see_more'), job %>
      </div>
      <hr>
    <% end %>
  <% end %>
</section>
<aside>
  <h4><%= t '.companies' %> </h4>
  <% @companies.each do |company| %>
    <p><%= link_to company.name, company %></p>
  <% end %>
</aside>
<hr>
<aside>
  <h4><%= t '.categories' %></h4>
  <% @categories.each do |category| %>
    <p><%= link_to category.name, category %></p>
  <% end %>
</aside>
<hr>
<aside>
<h4><%= t '.job_types' %></h4>
<% @job_types.each do |jobtype| %>
  <p><%= link_to jobtype.name, jobtype %></p>
<% end %>
</aside>
