<span class="error_message"><%= flash[:alert] %></span>
<%= simple_form_for @company do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :mail %>
  <%= f.input :phone %>
  <%= f.button :submit %>
<% end %>
